/** Nicholas Potyok | Start:[06/18/19] **/






#map {
        height: 600px; 
        width: 100%; 
    
   
}
#legend {
    font-family: Arial, sans-serif;
    background: rgb(228, 228, 228);
    padding: 10px;
    margin: 10px;
    border: 3px solid rgb(107, 107, 107);
  }

.checkbox {
    left: 0px;
    font-family: 'Courier New', Courier, monospace;
}
